body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    font-style: normal;
}

/* remove the underline for links */
a {
    text-decoration: none;
}
/* reset markers for lists */
ul {
    list-style-type: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
/* Header */

/* .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
} */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-accent {
    color: #2E2F42;
}

.header-link {    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.address-link {    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-font {
    font-style: normal;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* section 1 Title-button */
.head-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    /* margin-top: 11.75rem;*/
    margin-bottom: 3rem;
    
}

/* .head-back {
    padding-bottom: 7.5rem;
} */

.head-container {
   background-color: #2E2F42;
   /* margin-top: 11.75em; */
   padding: 11.75rem 29.5rem 18.25rem 29.5rem;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
}
.button-text:hover,
.button-text:focus {
    color: #FFF;
    background-color: #404BBF;
}

/* section 2 Feature */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature {
 margin-top: 49.5em 9.75em 150.25em 9.75em;
}
.feature-title {            
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 0.5rem;
}

.feature-contents {               
    font-weight: 400;
    line-height: 1.5;      
    letter-spacing: 0.32px;
    color: #434455;
}

/* section 3 Our Team and section 4 Our Portfolio*/

.team {
    padding-top: 120px;
}

.team-container {
    background-color: #F4F4FD;
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-card {
    padding-bottom: 0px;
    margin-top: 72px;
    margin-bottom: 2rem;
    border-radius: 0 0 4px 4px;
    outline: 2px solid blue;
    background-color: #FFFFFF;
    width: calc((100%-3*9.75rem)/4);
    gap: 2rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-content {
padding-top: 32px;
padding-bottom: 32px;
/* text-align: center; */
}

.title-img {     
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
}
.sub-title {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.portfolio {
    padding-top: 120px;
}

.pick-content {
    padding-top: 2rem 1rem 2rem 1rem;
    }

.portfolio-card {
    padding-top: 4.5rem;
    padding-bottom: 0px;
    width: calc((100%-5*9.75rem)/6);
    gap: 2rem;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}


/* footer */
/* .back-foot {
    padding-top: 7.5rem;
    
} */

.footer-container {
    background-color: #2E2F42;
    /* padding: 8.75rem 63.75rem 6.25rem 9.75rem; */
}

.text-footer{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
color: #F4F4FD;
background-color: #2E2F42;
max-width: 16.5rem;
margin-top: 1rem;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 0;
    
}

.logo-accent-foot {
    color: #f4f4fd;
}