body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    font-style: normal;
}

/* remove the underline for links */
a {
    text-decoration: none;
}
/* reset markers for lists */
ul {
    list-style-type: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 1188px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
/* Header */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-accent {
    color: #2E2F42;
}

.header-link {    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.address-link {    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-font {
    font-style: normal;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* section 1 Title-button */
.header-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin: 48px;
}

.header-back {
    background-color: #2E2F42;
    padding: 188px 472px 292px 472px;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.button-text:hover,
.button-text:focus {
    color: #FFF;
    background-color: #404BBF;
}

/* section 2 Feature */
.feature-title {            
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.feature-contents {               
    font-weight: 400;
    line-height: 1.5;      
    letter-spacing: 0.32px;
    color: #434455;
}

/* section 3 Our Team and section 4 Our Portfolio*/
.sect-backgr {
    background-color: #F4F4FD;
}
.list-back {
    background: #FFF;
}
.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}
.title-img {     
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
}
.sub-title {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* footer */
.back-foot {
    background-color: #2E2F42;
}
.text-footer{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
color: #F4F4FD;
background-color: #2E2F42;
}

.logo-accent-foot {
    color: #f4f4fd;
}